html{
  box-sizing: border-box;

  }

  *, *::before, *::after {
    box-sizing: inherit;
  }




.inset-left{
  float: left;
  width: 50%;
  margin-right: 15px;
}

 .p2{
   clear: both;
 }

 .inset-left-2{
   float: right;
   width:50%;
   margin-right: 0px;
   padding :0;
   border: 0;
   clear: left;
 }


 .inset-left-3{
   float:right;
   width:50%;
   margin-right: 5px;
   clear: left;
   padding: 0;
   border:0;
 }

 header {
   background-color: #cd5b34;
   color: white;
   display: block;
   margin: 0;
   text-align: center;
 }

inset-left{
  float:left;


}

inset-right{
  float: left;

}

.grain-left{
  float:left;
  width:10%;
  margin:10px;
  border:0;

}

.grain-right{
  clear:right;
  float:right;
  width:10%;
  margin:10px;
  border:0;
}

  div{
    background-color: #d98156;
    border: 1px solid white;
    overflow: hidden;


     /*remind the element to wrap around its floated children*/
  }


  main{
    background-color: #d98156;
    float:none;
    /*width: calc(75% - 2rem); */
    width:0%;
    padding:  0rem;
    color:white;
  }


  aside{
    background-color: #d98156;
    float:none;
    /*width:calc(25% - 2rem);*/
    width:0%;
    padding: 0rem;
    color: white;
  }

h2{
  background-color:#d98156;
  color: white;
}


dl{
  background-color: #ffffff;

  }


.peanuts-left{
  clear:left;
  float:left;
  width:50%;
  margin:5px;
  border:0;
}

.beans-left{
  clear:left;
  float:left;
  width:50%;
  margin:5px;
  border:0;
}

.lentils-left{
  clear:left;
  float:left;
  width:50%;
  margin:5px;
  border:0;
}

footer{
  background-color:#cd5b34;
  color:#dd8757;
  display: block;
  margin: 0;
  text-align: center;
  }

h3{
  text-align: center;
  font-size:3em;
  float:none
}
